<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/23a05478-e493-4e19-9d65-a5533ed3f55b/resourceGroups/LiangResourceGroup/providers/Microsoft.Web/sites/TopicTools</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://topictools.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>topictools.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TopicTools</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TopicTools</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>